<%- include("partials/header") %>


    <!-- <div class="header-spacing-helper bg-info" style="height: 140px;">

    </div> -->
    <nav class="navbar bg-dark navbar-dark">
        <div class="container">
            <a href="/" class="navbar-brand"><i class="fas fa-laptop mr-2"></i> Silviu Preoteasa </a>
        </div>
    </nav>

    <section id="header" class="jumbotron text-center" style="background: url(https://media3.giphy.com/media/l4KihuqeuJEi9qLSM/giphy.gif) center center / cover no-repeat;">
        <h1 class="display-3 ">Silviu Preoteasa</h1>
        <p class="lead ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores, pariatur?</p>

        <!--  <a href="/portfolio" class="btn btn-primary ">Portfolio</a> -->
        <a href="/skills" class="btn btn-success ">Skills</a>
    </section>

    <section id="gallery">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <div class="card" id="card1">
                        <img class="card-img-top" src="https://lh3.googleusercontent.com/fqYJHtyzZzA4vacRzeJoB93QNvA5-mvR-8UB5oVLxdYDSTpfLp_KgYD4IqVGJUgFEJo" alt="">
                        <div class="card-body">
                            <h5 class="card-title">LinkedIn Account</h5>
                            <p class="card-text">You can find me on LinkedIn</p>
                            <a href="" class="btn btn-outline-success btn-sm">Visit</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card" id="card2">
                        <img class="card-img-top" src="https://img.utdstc.com/icons/facebook-android.png:225" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Facebook Account</h5>
                            <p class="card-text">You can contact me at any time on Facebook</p>
                            <a href="" class="btn btn-outline-success btn-sm">Visit</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card" id="card3">
                        <img class="card-img-top" src="https://www.pinclipart.com/picdir/big/234-2348790_github-clipart-github-logo-png-download.png" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Github Account</h5>
                            <p class="card-text">Here is where you can find my personal GitHub account and projects</p>
                            <a href="" class="btn btn-outline-success btn-sm">Visit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="div-bg">

        <blockquote class="blockquote text-center" style="padding-top: 2%;">
            <p class="mb-0">Intelligence is the ability to avoid doing work, yet getting the work done.</p>
            <footer class="blockquote-footer"><cite title="Source Title">Linus Torvalds</cite></footer>
        </blockquote>
    </div>
    <!-- <div class="container">
        <img src="https://wallpaperboat.com/wp-content/uploads/2019/10/programming-04.jpg" alt="" style="width:100%; height:100%; ">
        <blockquote class="blockquote text-center" style="padding-top: 2%;">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>

    </div> -->




    <%- include("partials/footer") %>